<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contact:</h3>
        <p class="footer-contact">
          Dr. Lauriane Ribas-Deulofeu<br>
          {{ site.company_name }}<br>
          {{site.address_line}}<br>
          Email: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Links</h3>
        <p><a href="/about"> About me</a></p>
        <p><a href="/project"> Projects </a></p>
        <p><a href="/cv"> Curriculum Vitae</a></p>
        <p><a href="/plublication"> Publications & Talks </a></p> 
        <p><a href="/contact"> Contact me</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Socialize</h3>
        <div id="social-icons">
          {% if site.googlescholar_link %}
            <a href="{{ site.googlescholar_link }}" class="btn-group scholar">
              <i class="fa fa-scholar"></i>
            </a>
          {% endif %}

          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}

          {% if site.twitter_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if site.orcid_link %}
            <a href="{{ site.orcid_link }}" class="btn-group orcid">
              <i class="fa fa-orcid"></i>
            </a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="https://laurianeribas-deulofeu.github.io/">laurianeribas-deulofeu</a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>
