<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                        <li data-target="#carousel-1" data-slide-to="4"></li>
                        <li data-target="#carousel-1" data-slide-to="5"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/photo/2Lions1.JPG" height="300" alt="Image of first carousel">
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">Green Grassland, Lanyu (TW)</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/photo/Yayo3.JPG" height="300" alt="Image of second carousel">
                            <div class="carousel-caption">      
                              <p class="carousel-title hidden-xs">Yayo, Lanyu (TW)</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->
                       
                         <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/photo/GreenGrassland2.JPG" height="300" alt="Image of third carousel">
                            <div class="carousel-caption">
                               <p class="carousel-title hidden-xs">Close view of <i>Acropora</i> sp.</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                      
                       <!-- Begin Slide 4 -->
                        <div class="item">
                            <img src="../assets/img/photo/XQY1-b.JPG" height="600" alt="Image of fourth carousel">
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">The team in Xinqinyan</p>
                            </div>
                        </div>
                        <!-- End Slide 4 -->
                      
                       <!-- Begin Slide 5 -->
                        <div class="item">
                            <img src="../assets/img/photo/IMG_20220627_213907_391.jpg" height="300" alt="Image of fifth carousel">
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">Ludao, Taiwan</p>
                            </div>
                        </div>
                        <!-- End Slide 5 -->
                      
                       <!-- Begin Slide 6 -->
                        <div class="item">
                            <img src="../assets/img/photo/IMG_20220408_224435_223.jpg" height="300" alt="Image of sixth carousel">
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">Colorful reef in Ludao, Taiwan</p>
                            </div>
                        </div>
                        <!-- End Slide 6 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->
    
    <!-- Begin #Intro-section -->
    
        <div class="container">
            <div class="row">
                <div class="Intro-header">
                    <h1 align="center" class="Intro-header-title"> Welcome to Dr. L Ribas-Deulofeu's website</h1><hr>
                </div>
             
    <h4 align="center" class="Intro-body"> <b>Visit the various pages of my website to discover who I am, my research projects & published works.<br>
     Wishing you a nice visit here.
   </h4><hr>          
          </div>   
       </div>      
    <!-- End #Intro-section -->
    
    <!-- Begin #services-section -->
          <!-- Begin Services Row 1 -->
        <div class="container">
            <div class="row">
              <!-- <!–– # HERE the Upcoming events section in annoted format to not appear when not in use ––>--> 
            <div class="services-header"> 
              <h2 align="center" class="services-header-title">Upcoming events:</h2> 
             </div> 
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>June 2025:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>3–5 June: Class at the <i>Artificial intelligence and citizen science in monitoring and assessing biodiversity and invasive species at sea</i> summer school, at Aquarium of San Sebastian (Spain).</b></h4>
                    <h4 align="center" class="services-header-body"><i>"Species identification through Artificial Intelligence and expert community - Creating iNaturalist projects" </i><br></h4>
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>July 2025:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>9–12 July: Talk at the <i>Marine Protected Areas in Marine Spatial Planning</i> conference in Bodø (Norway).</b></h4>
                    <h4 align="center" class="services-header-body"> <i>"Advancing reef conservation in the Anthropocene: Taiwan coral ecosystem status and MPAs effectiveness"</i><br></h4>
                   
                    <hr>
             <div class="services-header"> 
                    <h2 align="center" class="services-header-title">Recent activities</h2>
            </div>
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>February 2025:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>New publication</b><br></h4> 
                    <h4 align="center" class="services-header-body"> Benthic drivers of structural complexity in coral reefs across a tropical-subtropical transition zone. <a href="https://doi.org/10.3389/fmars.2025.1513498" target="_blank">10.3389/fmars.2025.1513498</a> </h4>
                    
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>International meeting & Symposium</b><br></h4> 
                    <h4 align="center" class="services-header-body"> MPA Europe annual meeting and symposium at the European Environmental Agency in Copenhagen (Denmark).<br></h4> 
                  
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>January 2025:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>International meeting</b><br></h4> 
                    <h4 align="center" class="services-header-body">Joint EU GuardIAS-OneSTOP Project Kick-off Meeting at the European Commission's Joint Research Centre in Ispra (Italy): <i>"Tackling Invasive Alien Species in Europe."</i> </h4>
      
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>November 2024:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>New Job</b><br></h4> 
                    <h4 align="center" class="services-header-body"> New post-doctoral position at <a href="https://www.nord.no/en/about/faculties-and-centres/faculty-of-biosciences-and-aquaculture" target="_blank">Nord University</a>, Norway.</h4>
                    <h4 align="center" class="services-header-body"> BioBoost+ project: Boosting the frequency and scale of marine Biodiversity monitoring using digital imagery and artificial intelligence</h4>
                    
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>June 2024:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>New publication</b><br></h4> 
                    <h4 align="center" class="services-header-body"> Rapid shift in benthic assemblages following coral bleaching at an upper mesophotic habitat in Taiwan. <a href="https://doi.org/10.1007/s12526-024-01445-5" target="_blank">10.1007/s12526-024-01445-5</a></h4>
                    
                  
                    </div>
                  <hr>   
              </div> 
          
      
            
                <div class="services-header">
                    <h2 align="center" class="services-header-title">Projects</h2>
                    <h4 align="center" class="services-header-body"><em><b> Discover here some of my showcased projects: </em></b></h4><hr>
                </div>
        </div>
      
            
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div align="center" class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <img src="../assets/ico/logo tropical coral reef 2.png" alt="Feature-img" height="80" width="100">
                        <h4 class="services-title">Taiwanese Reefs</h4>
                        <p class="services-body">Discover the amazing diversity of coral ecosystems present in Taiwan</p>
                        <p class="services-more"><a href="/TaiwanCoral-associatedecosystems">Find Out More</a></p>
                    </div>
                </div>
              
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div align="center" class="services-group wow animated zoomIn" data-wow-offset="40">
                        <img src="../assets/ico/logo paleo reef2.png" alt="Feature-img" height="80" width="100">
                        <h4 class="services-title">Paleo-reefs</h4>
                        <p class="services-body">Have a look at some fossil reefs & corals from Taiwan</p>
                        <p class="services-more"><a href="/Paleo-reefreconstructions">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div align="center" class="services-group wow animated fadeInRight" data-wow-offset="40"> 
                        <img src="../assets/ico/Logo marginal reef2.png" alt="Feature-img" height="80" width="100">
                        <h4 class="services-title">Marginal Coral Communities</h4>
                        <p class="services-body">Discover Jeju Island under the ongoing climate change</p>
                        <p class="services-more"><a href="/MarginalCoralCommunities">Find Out More</a></p>
                    </div>
                </div>
        
            </div>
            <!-- End Services Row 1 -->
        </div>      
    <!-- End #services-section -->
    
  </body>

  {% include footer.html %}
</html>
