<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                            <img src="../assets/img/photo/2Lions1.JPG" height="300" alt="Image of first carousel">
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">Close view of <i>Acropora</i> sp.</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                        <div class="item">
                            <img src="../assets/img/photo/Yayo3.JPG" height="300" alt="Image of second carousel">
                            <div class="carousel-caption">      
                              <p class="carousel-title hidden-xs">Yayo, Lanyu (TW)</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->
                       
                         <!-- Begin Slide 3 -->
                        <div class="item">
                            <img src="../assets/img/photo/GreenGrassland2.JPG" height="300" alt="Image of third carousel">
                            <div class="carousel-caption">
                               <p class="carousel-title hidden-xs">Green Grassland, Lanyu (TW)</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                      
                       <!-- Begin Slide 4 -->
                        <div class="item">
                            <img src="../assets/img/photo/XQY1.JPG" height="300" alt="Image of fourth carousel">
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">The team in Xinqinyan</p>
                            </div>
                        </div>
                        <!-- End Slide 4 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->
    
    <!-- Begin #Intro-section -->
    
        <div class="container">
            <div class="row">
                <div class="Intro-header">
                    <h1 align="center" class="Intro-header-title">Welcome to Dr. Lauriane Ribas-Deulofeu website</h1><hr>
                </div>
             
    <p class="Intro-body"> Navigate through this website's pages to discover my background, my research projects and published works.<br>
     <br>
     In brief, I am a coral reefs ecologist with a particular interest on coral-associated capacities to survive the ongoing climate change and the numerous anthropogenic pressures of our era.<br>
     I have a particular passion for the Kuroshio region as the succession of islands from Philipinnes to Japan could facilitate the poleward colonisation of tropical organisms from the Coral Triangle to potential high-latitude refuges such as Japan and South Korea. In this context, Taiwan could play a major role. <br>
     XXX Taiwan Coral communities, diversity, env & bathymetric gradient, etc.
   </p><hr>          
          </div>   
       </div>      
  
    <!-- End #Intro-section -->
    
    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h2 class="services-header-title">Projects</h2>
                    <p class="services-header-body"><em> Discover some of my projects </em>  </p><hr>
                </div>
            </div>
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <img src="../assets/ico/logo tropical coral reef 2.png" alt="Feature-img" height="80" width="100">
                        <h4 class="services-title">Taiwanese Reefs</h4>
                        <p class="services-body">Discover the amazing diversity of coral ecosystems present in Taiwan</p>
                        <p class="services-more"><a href="/TaiwanCoral-associatedecosystems">Find Out More</a></p>
                    </div>
                </div>
              
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <img src="../assets/ico/logo paleo reef2.png" alt="Feature-img" height="80" width="100">
                        <h4 class="services-title">Paleo-reefs</h4>
                        <p class="services-body">Have a look at some fossil reefs & corals from Taiwan</p>
                        <p class="services-more"><a href="/Paleo-reefreconstructions">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40"> 
                        <img src="../assets/ico/Logo marginal reef2.png" alt="Feature-img" height="80" width="100">
                        <h4 class="services-title">Marginal Coral Communities</h4>
                        <p class="services-body">Discover Jeju Island coral communities under the ongoing climate change</p>
                        <p class="services-more"><a href="/MarginalCoralCommunities">Find Out More</a></p>
                    </div>
                </div>
        
            </div>
            <!-- End Services Row 1 -->
        </div>      
    </section>
    <!-- End #services-section -->
    
  </body>

  {% include footer.html %}
</html>
