<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                        <li data-target="#carousel-1" data-slide-to="4"></li>
                        <li data-target="#carousel-1" data-slide-to="5"></li>
                        <li data-target="#carousel-1" data-slide-to="6"></li>
                        <li data-target="#carousel-1" data-slide-to="7"></li>
                        <li data-target="#carousel-1" data-slide-to="8"></li>
                        <li data-target="#carousel-1" data-slide-to="9"></li>
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                        <div class="item active">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/photo/2Lions1.JPG" alt="View of the reef benthic organisms and fishes at 5m, green grassland diving site in Taiwan">
                          </div>
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">Green Grassland, Lanyu (TW)</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->
 
                        <!-- Begin Slide 2 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/Norway/20241127_134711.jpg" alt="Zooplankton sample">
                          </div>
                            <div class="carousel-caption">      
                              <p class="carousel-title hidden-xs">Freshly collected zooplankton from Saltfjorden (Norway)</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->
                        
                        <!-- Begin Slide 3 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/photo/Yayo3.JPG" alt="Image of second carousel">
                          </div>
                            <div class="carousel-caption">      
                              <p class="carousel-title hidden-xs">Yayo, Lanyu (TW)</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                       
                         <!-- Begin Slide 4 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/photo/GreenGrassland2.JPG" alt="Close-up view of branching coral underwater, showing its detailed texture and blue-toned coloration.">
                          </div>  
                            <div class="carousel-caption">
                               <p class="carousel-title hidden-xs">Close view of <i>Acropora</i> sp.</p>
                            </div>
                        </div>
                        <!-- End Slide 4 -->
                        
                        <!-- Begin Slide 5 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/Jeju Project/Fish and Kelp landscape 3.JPG" alt="Jeju Island fieldwork in 2012 (South Korea), with fish and algae in the scenery.">
                          </div>  
                            <div class="carousel-caption">
                               <p class="carousel-title hidden-xs">Jeju Island fieldwork in 2012 (South Korea)</p>
                            </div>
                        </div>
                        <!-- End Slide 5 -->
                      
                       <!-- Begin Slide 6 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/photo/XQY1-b.JPG"  alt="scientific divers underwater, swimming to reach the survey location, with equipment">
                          </div> 
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">The team in Xinqinyan (Taiwan)</p>
                            </div>
                        </div>
                        <!-- End Slide 6 -->
                        
                        <!-- Begin Slide 7 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/MAFs/IMG_20220914_162222_511.jpg"  alt="various corals and mesophotic organisms.">
                           </div> 
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">Keelung Island at 32 m depth (Taiwan)</p>
                            </div>
                        </div>
                        <!-- End Slide 7 -->
                        
                       <!-- Begin Slide 8 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/photo/IMG_20220627_213907_391.jpg"  alt="Colorful coral reef in Taiwan, showcasing diverse coral types and high coral coverage.">
                           </div> 
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">Ludao, Taiwan</p>
                            </div>
                        </div>
                        <!-- End Slide 8 -->
                        
                         <!-- Begin Slide 9 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/Norway/20250615_194255.jpg"  alt="Various algae in artic fjord, underwater view.">
                           </div> 
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">Variety of macroalgae commonly encounter in the artic fjords surrounding Bodø (Norway)</p>
                            </div>
                        </div>
                        <!-- End Slide 9 -->
                      
                       <!-- Begin Slide 10 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/photo/IMG_20220408_224435_223.jpg" alt="A section of coral reef underwater with vibrant red, brown, and purple corals growing on the rocky ocean floor of Ludao Island in tropical Taiwan">
                          </div>
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">Colorful corals in Ludao, Taiwan</p>
                            </div>
                        </div>
                        <!-- End Slide 10 -->
                        
                         <!-- Begin Slide 11 -->
                        <div class="item">
                          <div class="carousel-img-wrapper">
                            <img src="../assets/img/Norway/20250411_190113.jpg"  alt="CLassroom where plankton sample is processed in planktoscope for digital imaging and machine learning training on artic phytoplankton">
                           </div> 
                            <div class="carousel-caption">
                              <p class="carousel-title hidden-xs">PlanktoScope imaging of phytoplankton from Saltfjorden (Norway) </p>
                            </div>
                        </div>
                        <!-- End Slide 11 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->
    
    <!-- Begin #Intro-section -->
    
        <div class="container">
            <div class="row">
                <div class="Intro-header">
                    <h1 align="center" class="Intro-header-title"> Welcome to Dr. L Ribas-Deulofeu's website</h1><hr>
                </div>
             
    <h4 align="center" class="Intro-body"> <b>Visit the various pages of my website to discover who I am, my research projects & published works.<br>
     Wishing you a nice visit here.
   </h4><hr>          
          </div>   
       </div>      
    <!-- End #Intro-section -->
    
    <!-- Begin #services-section -->
          <!-- Begin Services Row 1 -->
        <div class="container">
            <div class="row">
              <!-- <!–– # HERE the Upcoming events section in annoted format to not appear when not in use ––>--> 
            <div class="services-header"> 
              <h2 align="center" class="services-header-title">Upcoming events:</h2> 
             </div> 
              
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>September 2025:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>30 September–2 October: 1<sup>st</sup> GuardIAS annual meeting in Thessaloniki (Greece).</b></h4>

                    
                   
                    <hr>
             <div class="services-header"> 
                    <h2 align="center" class="services-header-title">Recent activities</h2>
            </div>
            
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>August 2025:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>New publication:</b> <i>"Patterns of reef fish energy flow in a transitional zone"</i>. DOI: <a href="https://doi.org/10.1007/s00338-025-02725-7" target="_blank">10.1007/s00338-025-02725-7</a></h4>
                    
                    
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>July 2025:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>6–9 July: Session chair and Poster at the <i>58th European Marine Biology Symposium</i> conference in Bodø (Norway).</b></h4>
                    <h4 align="center" class="services-header-body"> <i>"Reinvestigating museum zooplankton samples with digital imaging and AI-assisted tools: A 42-year study of two norwegian arctic fjords" (Poster)</i></li><br></h4> 
                    <h4 align="center" class="services-header-body"> <b>9–12 July: Talk at the <i>Marine Protected Areas in Marine Spatial Planning</i> conference in Bodø (Norway).</b></h4>
                    <h4 align="center" class="services-header-body"> <i>"Advancing reef conservation in the Anthropocene: Taiwan coral ecosystem status and MPAs effectiveness"</i></li><br></h4>
                   
                    <h3 style="color: #71d7c2" align="center" class="services-header-title"><b>June 2025:</b></h3>
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>Class at the <i>Artificial intelligence and citizen science in monitoring and assessing biodiversity and invasive species at sea</i> summer school, at Aquarium of San Sebastian (Spain).</b></h4>
                    <h4 align="center" class="services-header-body"><i>"Species identification through Artificial Intelligence and expert community" </i><br></h4>
                    
                    <div class="services-title">
                    <h4 align="center" class="services-header-body"> <b>Webinar <i>"Scientific & technological exchange on Marine Protected Area monitoring using advanced & innovative imaging analyses"</i> for the <i>Korea Woman Scientists and Engineers</i> Network (KWSE).</b></h4>
                    <h4 align="center" class="services-header-body"> <i>"Widening the lens: AI & imaging for Pan-European biodiversity & invasive species monitoring"</i><br></h4>
                   
                    </div>
                  <hr>   
              </div> 
          
      
            
                <div class="services-header">
                    <h2 align="center" class="services-header-title">Projects</h2>
                    <h4 align="center" class="services-header-body"><em><b> Discover here some of my showcased projects: </em></b></h4><hr>
                </div>
        </div>
      
            
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div align="center" class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <img src="../assets/ico/logo tropical coral reef 2.png" alt="Feature-img" height="80" width="100">
                        <h4 class="services-title">Taiwanese Reefs</h4>
                        <p class="services-body">Discover the amazing diversity of coral ecosystems present in Taiwan</p>
                        <p class="services-more"><a href="/TaiwanCoral-associatedecosystems">Find Out More</a></p>
                    </div>
                </div>
              
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div align="center" class="services-group wow animated zoomIn" data-wow-offset="40">
                        <img src="../assets/ico/logo paleo reef2.png" alt="Feature-img" height="80" width="100">
                        <h4 class="services-title">Paleo-reefs</h4>
                        <p class="services-body">Have a look at some fossil reefs & corals from Taiwan</p>
                        <p class="services-more"><a href="/Paleo-reefreconstructions">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div align="center" class="services-group wow animated fadeInRight" data-wow-offset="40"> 
                        <img src="../assets/ico/Logo marginal reef2.png" alt="Feature-img" height="80" width="100">
                        <h4 class="services-title">Marginal Coral Communities</h4>
                        <p class="services-body">Discover Jeju Island under the ongoing climate change</p>
                        <p class="services-more"><a href="/MarginalCoralCommunities">Find Out More</a></p>
                    </div>
                </div>
        
            </div>
            <!-- End Services Row 1 -->
        </div>      
    <!-- End #services-section -->
    
  </body>

  {% include footer.html %}
</html>
